h1 {
    font-size: 35px;
    background-color: lightblue;
    padding:20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    width: 100%;
}

.instructions {
    background-color: lightgoldenrodyellow;
    padding : 10px;
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-top: 5px;
    
}

.col-md-3 {
    /* float: left;          */
    background-color: lightcyan;
    margin-top: 10px;         
    display: inline-block;    
    margin-bottom: 10px;    
    padding: 20px;
    margin: 10px;
    
  }

#wins, #losses, #random-number {
    font-weight: bold;
}


.row {
    
    width: 690px;
    display: inline-block; 
}

.images {
    
    margin-bottom: 5px;
}

body {
    background-image: url("https://www.muralswallpaper.com/app/uploads/Pastel-Geometric-Triangle-Pattern-Wallpaper-Mural-Plain-820x532.jpg");
    background-repeat: bottom;
    background-size: 100%;
    max-width: auto;
    
}

.container {
    text-align: center;       
}

p {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#jewel-1, #jewel-2, #jewel-3, #jewel-4 {
    height: 100px;
    width: 100px;
    background-color: white; 
    margin: 0 20px 0;
   
}

h4 {
    font-size: 24px;
    background-color: lightblue;   
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 10px;
    display: inline-block; 
    width: 100%;
}

#score {
    font-size: 50px;
    background-color:lightcyan; 
}



